<div id="change-location-container">
    <form id="change-location-form" style="float:right">
        <input required type="text" id="change-location-lat"/>
        <input required type="text" id="change-location-lon"/>
        <input type="submit">
    </form>
</div>