<div class="row">
    <div class="col-xs-1"></div>
    <div id="find-chatroom-container" class="white col-md-4 text-left">
        <div class="h1">Find a Chatroom</div>
        <div style="clear: both">
            <h5 class="h5">
                <small class="text-muted"> Latitude </small>
                <span id="lat"></span>
            </h5>
            <h5 class="h5">
                <small class="text-muted"> Longitude </small>
                <span id="lon"></span>
            </h5>
        </div>

        <form id="find-chatroom-form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label">Available Chatrooms:</label>
                <select class="form-control" id="chatroomPlaces">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">User Handle:</label>
                <input class="form-control"type="text" name="userHandle" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Find Chat" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        @Html.Partial("_ChangeLocation")
        <div id="map"></div>
    </div>
</div>



