
<form id="user-handle-form">
    <p>User Handle: <input name="userHandle" type="text" /></p>
    <br />
    <input name="newChatroomId" type="hidden" />
    <input type="submit" hidden/>
</form>