@model ChatLoco.Models.Base_Model.BaseModel

@Html.Partial("~/Views/Shared/_AccountHandling.cshtml", Model)

<div id="content-container">
    <h1>Find a Chatroom</h1>
    <h5>Coordinates: <input id="lat" type="text" disabled /> <input id="lon" type="text" disabled/> </h5>

    <div id="find-chatroom-container">
        <form id="find-chatroom-form">
            <br />
            <p>Chatroom Name: <input type="text" name="chatroomName" /></p>
            <br />
            <p>User Handle: <input type="text" name="userHandle" /></p>
            <input type="submit" />
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/chatroom")