body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/Content/images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.white{
    color: white;
}

.black{
    color: black;
}

.grey{
    color: grey;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


